#blauXile {
	height: 50px;
	width: 50px;
	background-color: blue;
	position: absolute;
}

#blancXile {
	height: 50px;
	width: 150px;
	background-color: white;
}

#vermellXile {
	height: 50px;
	width: 150px;
	background-color: red;
}

#grocColombia {
	height: 50px;
	width: 150px;
	background-color: yellow;
}

#blauColombia {
	height: 25px;
	width: 150px;
	background-color: blue;
}

#vermellColombia {
	height: 25px;
	width: 150px;
	background-color: red;
}

#RepublicaDominicanaTOP {
	height: 40px;
	width: 120px;
	display: flex;
}

#blauTopRepublicaDominicana {
	height: 40px;
	width: 55px;
	background-color: blue;
	order: -1;
}

#blancTopRepublicaDominicana {
	height: 40px;
	width: 10px;
	background-color: white;
}

#vermellTopRepublicaDominicana {
	height: 40px;
	width: 55px;
	background-color: red;
	order: 1;
}

#RepublicaDominicanaCENTER {
	height: 10px;
	width: 120px;
}

#blancCentreRepublicaDominicana {
	height: 10px;
	width: 120px;
	background-color: white;
}

#RepublicaDominicanaBOT {
	height: 40px;
	width: 120px;
	display: flex;
}

#vermellBottomRepublicaDominicana {
	height: 40px;
	width: 55px;
	background-color: red;
	order: -1;
}

#blancBottomRepublicaDominicana {
	height: 40px;
	width: 10px;
	background-color: white;
}

#blauBottomRepublicaDominicana {
	height: 40px;
	width: 55px;
	background-color: blue;
	order: 1;
}

body {
	background-color: black;
}