.gallerie {
	display: grid;
	grid-template-columns: 200px 200px 200px 200px;
	grid-template-rows: 200px 200px 200px 200px;
	border: 10px solid black;
	height: 800px;
	width: 800px;
}

.imatge {
	border: 3px solid black;
}

.imatge:hover {
	animation-name: rotate; 
    animation-duration: 0.3s; 
  	animation-iteration-count: 5;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
    	transform: rotate(0deg);
	}
    to {
    	transform: rotate(360deg);
    }
}