#roundedBorders {
	height: 100px;
	width: 100px;
	background-color: red;
	border-radius: 25px;
}

#diffenentFont {
    font-family: Arial;
    text-shadow: 4px 4px 4px #aaa;
}

#aLotOfSpace {
	letter-spacing: 20px;
}