#roundedBorders {
	height: 100px;
	width: 100px;
	background-color: red;
	border-radius: 25px;
}

#diffenentFont {
    font-family: myFont;
    text-shadow: 4px 4px 4px #aaa;
}

@font-face {
    font-family: myFont;
  src: url(//fonts.googleapis.com/css?family=Open+Sans);
}

#aLotOfSpace {
	letter-spacing: 20px;
}